/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
}
.center{
  img {
    margin-top: 10px 0 0 30px;
    height:  60px;
  }
  nav{
    display: flex;
    justify-content: flex-end;
    a {
      white-space: nowrap;
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 25px;
      color: crimson;
      text-decoration: none;
      letter-spacing: 0.10px;
    }
  }
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin:  0 auto;
  
  a::after{
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 2px;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: black;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }
  a:hover::after {
    transform: scale(1);
    content: "";
    background-color: white;
    width: 100%;
  }
}




