<div *ngFor="let nationnalite of nationnalites " class="card-nation center">
    <div class="text-nation">
        <h3>{{nationnalite.title}}</h3>
        <h2>{{nationnalite.subtitle}}<span>{{nationnalite.span}}</span></h2>
        <p>{{nationnalite.description}}</p>
        <p>{{nationnalite.description}}</p>
    </div>
    <div class="picture-nation">
        <div class="img">
        <img [src]="nationnalite.imageUrl" alt="">
        <img [src]="nationnalite.imageUrl1" alt="">
        <img [src]="nationnalite.imageUrl2" alt="">
        <img [src]="nationnalite.imageUrl3" alt="">
    </div>
    
    <button>{{nationnalite.buttonText}}</button>
    </div>
</div>