<div class="card-nation center">
    <div class="text-nation">
        <h3>{{title}}</h3>
        <h2>{{subtitle}}<span>{{span}}</span></h2>
        <p>{{description}}</p>
        <p>{{description}}</p>
    </div>
    <div class="picture-nation">
        <div class="img">
        <img [src]="imageUrl" alt="">
        <img [src]="imageUrl1" alt="">
        <img [src]="imageUrl2" alt="">
        <img [src]="imageUrl3" alt="">
    </div>
    
    <button class="acteur-access">Accéder au acteurs</button>
    </div>
</div>